body{
    
    background-color: rgb(65, 60, 226);
    text-align: center;
    
}
form {
  width: 350px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
input, button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

label {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    display: block;
    margin-bottom: px;
}

/* Style the input field */
input#email {
    width: 300px;      
    padding: 10px;     
    font-size: 14px;   
    border: 2px solid #ccc; 
    border-radius: 5px;    
    outline: none;         
    transition: border-color 0.3s, box-shadow 0.3s;
}


input#email:focus {
    border-color: #2170ca;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


input#password {
    
        width: 300px;
        padding: 10px;
        font-size: 14px;
        border: 2px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s, box-shadow 0.3s;
    }
    input#password:focus{
        border-color: #1f75d7;
        background-origin: 0 0 5px rgba(0, 123, 255, 0.5);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    input#username {
    
        width: 300px;
        padding: 10px;
        font-size: 14px;
        border: 2px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s, box-shadow 0.3s;
    }
    input#username:focus{
        border-color: #1f75d7;
        background-origin: 0 0 5px rgba(0, 123, 255, 0.5);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }



